@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//-----DEFAULT-----
:root {
  --bg-primary: #181818;
  --bg-secondary: #0c0c0c;
  --bg-thirds: #151a0d;
  --primary: white;
  --secondary: #00FF76;
  --opacity: rgba(24, 24, 24, 0.66);
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.3vw;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-right-width: 0.3vw;
}

html, body {
  background: var(--bg-primary);
  margin: 0;
  padding: 0;

  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  color: var(--primary);
  min-height: 100vh;
}

a {
  color: white !important;
}

.box {
  border-radius: 5px;
  background-color: var(--bg-primary);
  border: 3px solid var(--secondary);
}

//-----NAVBAR----

.navbar {
  position: fixed;
  background-color: var(--opacity);
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 1;
}

//-----INFORMATION-----

#information {
  background-repeat: no-repeat;
  background-size: cover;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 70%;

  a > i.fab {
    font-size: 17pt;
  }
}

//-----WHATS_UP-----

#ws {
  height: 100vh;
}

.ws-gradient {
  background: linear-gradient(5deg, #181818 45%, rgba(0,255,118,1) 46%, rgba(255, 255, 255, 0) 47%);
  height: 200px;
  width: 100%;
  margin-top: -200px;
}

//-----STORY-----

#st {
  height: 100vh;
  background: var(--bg-secondary);
}

.st-gradient {
  background: linear-gradient(-5deg, #0c0c0c 45%, rgba(0,255,118,1) 46%, rgba(255, 255, 255, 0) 47%);
  height: 200px;
  width: 100%;
  margin-top: -200px;
}

//-----ADMINISTRATION-----

#adm {
  height: 100vh;
  background-color: var(--bg-thirds);

  .container, .container > .row {
    height: 100%;
  }
}

.adm-gradient {
  background: linear-gradient(5deg, var(--bg-thirds) 45%, rgba(0,255,118,1) 46%, rgba(255, 255, 255, 0) 47%);
  height: 200px;
  width: 100%;
  margin-top: -200px;
}

//-----GUILD_ITEMS-----

#gd {
  height: 100vh;

  .container, .container > .row {
    height: 100%;
  }
}

.gd-gradient {
  background: linear-gradient(-5deg, #181818 45%, rgba(0,255,118,1) 46%, rgba(255, 255, 255, 0) 47%);
  height: 200px;
  width: 100%;
  margin-top: -200px;
}

.equipment {
  background-color: var(--minecraft-eq);
  border-radius: 8px;
  padding: 12px;
  width: 480px;
}

.equipment-item {
  position: relative;
  background-color: var(--minecraft-item);
  width: 50px;
  height: 50px;
  border: 2px solid var(--minecraft-border-tl);
  border-right-color: var(--minecraft-border-br);
  border-bottom-color: var(--minecraft-border-br);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-item.empty {
  background-image: url("/assets/images/blue.png");
  background-size: 39px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

.equipment-item-image {
  width: 42px;
  height: 46px;
}

.equipment-item .count {
  position: absolute;
  text-shadow: 2px 2px 0 var(--light);
  bottom: -3px;
  right: 2px;
  color: white;
  margin-bottom: 0;
}

//-----

.player {
  height: 400px;
  width: 100%;
}

.progress {
  background-color: #474747;
  position: relative;

  .bg-progress {
    background: linear-gradient(90deg, #00FF76 0%, #214A34 100%);
  }
}

.cool-guy {
  height: 746px;
  background-image: url("/assets/images/cool_guy.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.think-guy {
  height: 653px;
  background-image: url("/assets/images/thinking_guy.png");
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.offline {
  color: #CD4646;
  text-shadow: 0 0 5px #CD4646;
}

//-----FOOTER-----

footer {
  font-weight: normal;
  background: #0D0D0D url("/assets/images/footer_map.png") no-repeat;
  width: 100%;
}

footer > .container > .row {
  height: 250px;
  align-items: center;
}