<section class="stats">
    <div class="mw-auto flex flex-align">
        <div class="status-left flex flex-align">
            <div class="status-box flex flex-align">
                <div class="status-box_category status-box_category-green"></div>
                <div class="status-box_info">
                    <h1 class="status-box_h1">&nbsp;{{ serverInfo.Players }}/{{ serverInfo.MaxPlayers }}</h1>
                    <p class="status-box_p">Ilość graczy online</p>
                </div>
            </div>
            <div class="status-box flex flex-align">
                <div class="status-box_category status-box_category-blue"></div>
                <div class="status-box_info">
                    <h1 class="status-box_h1">{{ boughtAll }}</h1>
                    <p class="status-box_p">Ilość zakupionych przedmiotów</p>
                </div>
            </div>
            <div class="status-box flex flex-align">
                <div class="status-box_category status-box_category-blue"></div>
                <div class="status-box_info">
                    <h1 class="status-box_h1">{{ boughtToday }}</h1>
                    <p class="status-box_p">Zakupiono dziś</p>
                </div>
            </div>
        </div>
    </div>
</section>