<div class="card mb-5">
    <div class="card-header">
        <div class="d-flex flex-column ">
            <h1 class="h3">{{ article.title | raw }}</h1>
        </div>
    </div>
    <div class="card-body">
        {% if article.image is defined %}<img class="float-start" src="{{ article.image }}" alt="icon"/>{% endif %}
       {{ article.text | raw }}
    </div>
    <div class="card-footer d-flex flex-row-reverse">
        <p>~{{ article.author }}</p>
    </div>
</div>