<section class="bg">
        <div class="container">
            <p class="text-blue"><i class="fas fa-fire" aria-hidden="true"></i> {{ serverName }}</p>
            <h1 class="text-white">{{ mainText | raw | nl2br }}</h1>
            <h2 class="text1 h4">{{ mainDescription | raw | nl2br }}</h2>
            <h3 class="text3 mb-10 mt-5 h4"> {{ "Join to us" | trans }} <button type="button" class="btn-shop"><i class="fas fa-arrow-right" aria-hidden="true"></i></button></h3>
        </div>
</section>