<section class="bg">
        <div class="container">
            <p class="text-blue"><i class="fas fa-fire" aria-hidden="true"></i> {{ serverName }}</p>
            <h1 class="text-white">{{ mainText | raw | nl2br }}</h1>
            <h4 class="text1">{{ mainDescription | raw | nl2br }}</h4>
            <h4 class="text3 mb-10 mt-5"> {{ "Join to us" | trans }} <button type="button" class="btn-shop"><i class="fas fa-arrow-right" aria-hidden="true"></i></button></h4>
        </div>
</section>