{% if trailer %}
<div class="container">
    <div class="row mb-5 d-flex justify-content-lg-between">
        <div class="col-lg-6 col-12 text3">
            <iframe src="{{ trailer }}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen class="border-0 m-sm-auto m-lg-0 d-block trailer"></iframe>
        </div>
        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center">
            <h1 class="text-white">Trailer naszego serwera</h1>
            <h5 class="text1">{{ trailerText | raw | nl2br }}</h5>

        </div>
    </div>
</div>
{% endif %}