<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'old/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('old') }}
    {% endblock %}
</head>
<body>

<div id="content">
    {% include 'old/component/nav.html.twig' %}
    {% block body %}{% endblock %}
</div>
<footer class="d-flex justify-content-end">
    <div class="col-lg-8 col-md-12 information">
        <img src="/assets/images/{{ logo }}" alt="Logotype">
        <div class="col-lg-8 col-md-12 col-12">
            <span>{{ serverName }} {% trans %}Text footer{% endtrans %}</span>

            <div class="social-wrapper d-flex row">
                <div class="col-md-12 col-lg-7">{% include 'old/component/social.html.twig' %}</div>
                <p class="col-md-12 col-lg-5 underline">Powered by <a href="https://gamesites.pl/" target="_blank">gamesites.pl</a></p>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('old') }}
    {% endblock %}
</footer>
</body>
</html>
