{% extends 'old/base.html.twig' %}

{% block body %}
    <div class="container-fluid container-fluid-bg">
        {% include 'old/component/information.html.twig' %}
        {% include 'old/component/whatsup.html.twig' %}
        {% include 'old/component/story.html.twig' %}
        {% include 'old/component/administration.html.twig' %}
    </div>
{% endblock %}