{% extends 'old/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center flex-column m-4">
            <div class="col-lg-12 mb-5 mt-5 text-center">
                <h1>{{ "Hooray! Items was properly executed on the server" | trans }}</h1>
                <h2 class="base">{{ "Have fun with new bought pack!" | trans }}</h2>
            </div>
        </div>
    </div>
{% endblock %}

