<div class="st-gradient"></div>
<section id="st">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-12 col-lg-6 d-flex flex-column justify-content-center align-items-center text-center">
                <h1>Kilka słów o naszej historii</h1>
                <div class="p-lg-5 p-md-0 story justify-content-center d-flex">
                    {{ mainText | raw | nl2br }}<br/>
                    {{ mainDescription | raw | nl2br }}
                </div>
            </div>
            <div class="d-lg-flex d-none col-lg-5 cool-guy"></div>
        </div>
    </div>
</section>