<div class="ws-gradient"></div>
<section id="ws" class="container">
    <div class="row gap-lg-3 justify-content-between">
        <div class="col-lg-4 d-lg-flex d-none row justify-content-center ">
            <div class="w-100 think-guy"></div>
        </div>
        <div class="col-lg-7 col-md-12 d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="pb-5 mb-2">Obejrzyj zwiastun najnowszego sezonu!</h1>
            <iframe class="player" src="{{ trailer }}" title="YouTube video player" allowfullscreen></iframe>
        </div>
    </div>
</section>