<!DOCTYPE html>
<html lang="PL" class="h-100">
<head>
    {% include 'client/multi/white/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('multi-white') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
{% include 'client/multi/white/component/navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'client/multi/white/component/footer.html.twig' %}
{% include 'client/component/dev.template.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('multi-white') }}
{% endblock %}
</body>
</html>
