<!DOCTYPE html>
<html lang="PL" class="h-100">
<head>
    {% include 'amg/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('amg') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">
{% include 'amg/component/navbar.html.twig' %}

{% block body %}{% endblock %}

{% include 'amg/component/footer.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('amg') }}
{% endblock %}
</body>
</html>
