<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ "Log in to SellSite Admin" }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('securedArea') }}
    {% endblock %}
</head>
<body class="bg-dark text-light">
{% block body %}{% endblock %}
</body>
</html>
