{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h1>Changelog</h1>
    <h2>Wszystkie zmiany w aplikacji</h2>
    <hr/>
    <ul class="fs-3 mt-5">
        <li>v1.10.2 - 06.02.22 r.
            <ul class="fs-5">
                <li>Dodanie obsługi listy banów do fioletowej templatki </li>
                <li>Zmiana wyglądu suwaka na starej i domyślnej templatce</li>
                <li>Dodanie obsługi opisu serwera na fioletowej templatce</li>
                <li>Dodanie opisu przedmiotu w zakładce kupna</li>
                <li>Naprawa rankingu gildyjnego</li>
                <li>Naprawa wyświetlania przycisku uproszczonego PSC</li>
                <li></li>
                <li></li>
            </ul>
        </li>
        <li>v1.9.1 - 05.02.22 r.
            <ul class="fs-5">
                <li>Dodanie nowej templatki PURPLE</li>
                <li>Naprawa błędów związanych z PA i starymi templatkami</li>
            </ul>
        </li>
        <li>v1.8.3 - 09.12.21 r.
            <ul class="fs-5">
                <li>Dodanie 2FA Google Authenticator</li>
                <li>Dodanie tekstu gildyjnego jako opcjonalny</li>
                <li>Naprawa kilku mniejszych błędów</li>
            </ul>
        </li>
        <li>v1.6.9 - 08.12.21 r.
            <ul class="fs-5">
                <li>Poprawa użyteczności PSC w PA</li>
                <li>Poprawa niektórych tekstów PSC w PA</li>
                <li>Naprawa kilku mniejszych błędów</li>
            </ul>
        </li>
        <li>v1.6.6 - 07.12.21 r.
            <ul class="fs-5">
                <li>Optymalizacja działania strony</li>
                <li>Naprawa linkowania menu</li>
                <li>Naprawa strony kon taktowej</li>
                <li>Dodanie PaySafeCard</li>
                <li>Naprawa kilku mniejszych błędów</li>
            </ul>
        </li>
        <li>v1.5.2 - 06.12.21 r.
            <ul class="fs-5">
                <li>Optymalizacja działania strony</li>
                <li>Naprawa wyglądu sklepu nas stronie mobilnej i tabletach</li>
                <li>Napraw systemu płatności oraz wymaganej konfiguracji</li>
                <li>Dodanie systemy wyświetlania banów na stronie</li>
            </ul>
        </li>
        <li>v1.3.5 - 05.12.21 r.
            <ul class="fs-5">
                <li>Naprawa literówek w tekstach</li>
                <li>Skopiowanie zakładek DC i Ts3 do nav</li>
                <li>Poprawa zmiany tytułu strony</li>
                <li>Poprawa wyświetlania ilości przedmiotów gildyjnych</li>
                <li>Dodanie komponentu administracji serwera</li>
                <li>Naprawa innych pomniejszych bugów</li>
                <li>Napraw działania rankingu</li>
            </ul>
        </li>
        <li>v1.2.1 - 04.12.21 r.
            <ul class="fs-5">
                <li>Ograniczenie widoku w tekstach i linkach</li>
                <li>Pozwolenie na puste wartości w Tekstach i linkach</li>
                <li>Ukryta sekcja trailera jeśli go nie ustawiono</li>
                <li>Dodanie konsoli rCon</li>
                <li>Dodanie obsługi Voucherów</li>
                <li>Dodanie obsługi przedmiotu per serwer (minimalna ilość serwerów 1)</li>
                <li>Poprawa czytelności niektórych elementów w PA</li>
            </ul>
        </li>
        <li>v1.0.0 - 03.12.21 r.
            <ul class="fs-5">
                <li>Pierwsza działająca wersja bez przetestowanej scieżki frontowej płatności</li>
                <li>W trakcie implementacji Voucher mode</li>
            </ul>
        </li>
    </ul>
{% endblock %}