{% extends 'admin/base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert-danger alert position-fixed vw-100">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center align-items-center vh-100">
        {{ form_start(form) }}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        {{ form_end(form) }}
    </div>
{% endblock %}
