{% extends 'client/multi/dark/base.html.twig' %}

{% block body %}
    <section class="rules">
        <div class="rules-direction mw-auto">
            <div class="rules-box">
                {{ rule | raw }}
            </div>
        </div>
    </section>
{% endblock %}