<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content box">
            <div class="modal-body text-dark">
                {{ form_start(voucherForm, {action: path('voucher'), method: "POST"}) }}
                {{ form_end(voucherForm) }}
            </div>
        </div>
    </div>
</div>