@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar {
    width: 0.5vw;
    height: 0.3vw;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #111729;
    border-right-width: 0.3vw;
}

#side-menu {
    z-index: 10;
}

.arrow {
    position: absolute;
    top: 50% !important;
    background: var(--sidebar-bg);
    background-image: url('/assets/images/pa-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding-right: 5px;
    right: -7px;
    width: 20px;
    min-height: 20px !important;
    height: 20px !important;
    z-index: 0;
    cursor: pointer;
}

.ea-sidebar-width-compact .menu-header span {
    color: transparent !important;
    height: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.ea-sidebar-width-compact .menu-header {
    padding: 0 !important;
    margin: 0 !important;
}

.ea-sidebar-width-compact .menu-item.active {
    background: transparent;
}
.ea-sidebar-width-compact .menu-item.active a {
    color: var(--white);
}

.ea-sidebar-width-compact .menu-item {
    padding-left: 3px;
}

.menu-header span {
    color: var(--link-color) !important;
}

.menu-item {
    font-weight: normal;
    display: flex;
    align-items: center;
}

.menu-item.active {
    display: flex;
    align-items: center;
    background-color: var(--hover);
    border-radius: 10px;
    transition: background-color 300ms;
    z-index: 100;
}

.menu-item:hover a {
    color: var(--link-hover-color) !important;
}

.main-header {
    margin-left: -20px;
    margin-right: -8px;
    padding-left: 20px;
}

.logo {
    padding: 17px 0 !important;
    color: var(--white);
}

.logo-custom {
    display: flex !important;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.logo-custom .logo-img {
    width: 46px;
    height: 30px;
}

.logo-img {
    display: inline-block;
    margin-right: 10px;
    background-image: url("/assets/images/pa-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-custom, .logo-compact {
    color: var(--white);
    padding-left: 3px;
}

.logo-compact {
    margin-left: -2px;
}

.content-search input {
    background: var(--search);
    border-radius: 17px;
    padding: 0 15px !important;
}

.menu-header {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 25px 0 8px;
}

.menu-item a, .menu-item span{
    font-weight: normal;
    font-size: 13px;
    line-height: 29px;
}

.sidebar {
    background: var(--sidebar-bg);
    border: 0;
}

.sidebar-wrapper {
    border: 0;
}

.ea-sidebar-width-compact .menu-item span {
    display: none;
}

.ea-sidebar-width-normal li.menu-item {
    padding-left: 15px;
}

#side-menu ul {
    list-style-type: none;
    padding: 0;
}

.ea-sidebar-width-compact .menu-header span {
    color: transparent;
}

tr:nth-child(2n) {
    background-color: var(--row);
}

thead {
    background-color: var(--head);
}

.page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-border-primary);
}

.ea-mobile-sidebar-visible .menu-header {
    margin-top: 15px !important;
}

.ea-mobile-sidebar-visible .menu-header span {
    margin-top: 12px;
}

.ea-mobile-sidebar-visible .menu-item span {
    display: inline-block;
}

.form-check-input:checked {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.ea-fileupload .custom-file-label {
    width: 100% !important;
    padding: 3px 40px 3px 7px !important;
}

:root {
    --link-color: #FFFFFF;
    --link-hover-color: #c0a4b9;
    --hover: #661158;
    --sidebar-bg: #49093f;
    --active: #242526;
    --search: #EFEFEF;

    --white: #FFFFFF;
    --row: #f8f9fd;
    --head: #eaecf8;
    --indigo-500: #661158;
    --color-info: #661158;
    --color-primary: #661158;
    --color-border-primary: #661158;
}

td > a, .field-collection-add-button, .field-collection-add-button:focus, .field-collection-add-button:active:focus {
    color: var(--color-primary);
}

#sidebar-resizer-handler {
    right: -7px;
}

@media (max-width: 991px) {
    .arrow {
        display: none;
    }
}

@media (min-width: 992px) {
    .resizer-handler {
        width: 8px;
    }

    .resizer-handler:hover {
        background: none;
    }

    .ea-sidebar-width-compact .logo-custom {
        display: none !important;
    }
}

.block-list {
    height: 255px;
}

.block-list .block {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
}

.block-list .block span {
    font-size: 1.1rem;
}