@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif !important;
}

.ea-sidebar-width-compact .arrow {
    right: -38%;
}

.ea-sidebar-width-normal .arrow {
    right: -8%;
}

.arrow {
    position: absolute;
    top: 50%;
    background: var(--sidebar-bg);
    border-top-right-radius: 10px;
    padding-right: 5px;
    border-bottom-right-radius: 10px;
}

.arrow i {
    color: var(--white);
}

.ea-sidebar-width-compact .menu-header span {
    color: transparent !important;
}

.ea-sidebar-width-compact .menu-header {
    padding: 0 !important;
    margin: 0 !important;
}

.ea-sidebar-width-compact .menu-item.active, .ea-sidebar-width-compact .menu-item:hover {
    padding-left: 20px !important;
}

.menu-header span, .logo-custom, .logo-compact {
    color: var(--white) !important;
}

.menu-item {
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 8px;
}

.menu-item.active {
    background-color: var(--active);
    padding: 4px 0 4px 35px !important;
    margin: -4px -8px 4px -20px;
    transition: background-color 300ms;
}

.menu-item:hover {
    background-color: var(--hover);
    padding: 4px 0 4px 35px !important;
    margin: -4px -8px 4px -20px;
    transition: background-color 300ms;
}

.main-header {
    background: var(--active);
    margin-left: -20px;
    margin-right: -8px;
    padding-left: 20px;
}

.logo {
    padding: 17px 0 !important;
}

.content-search input {
    background: var(--search);
    border-radius: 17px;
    padding: 0 15px !important;
}

.menu-header {
    padding-top: 15px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.sidebar {
    background: var(--sidebar-bg);
}

.ea-sidebar-width-compact .menu-item span {
    display: none;
}

.ea-sidebar-width-normal li.menu-item {
    padding-left: 15px;
}

#side-menu ul {
    list-style-type: none;
    padding: 0;
}

.ea-sidebar-width-compact .menu-header span {
    color: transparent;
}

tr:nth-child(2n) {
    background-color: var(--row);
}

thead {
    background-color: var(--head);
}

.page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-border-primary);
}

.ea-mobile-sidebar-visible .menu-header {
    margin-top: 15px !important;
}

.ea-mobile-sidebar-visible .menu-header span {
    margin-top: 5px;
    color: var(--white) !important;
}

.ea-mobile-sidebar-visible .menu-item span {
    display: inline-block;
}

:root {
    --link-color: var(--white);
    --link-hover-color: var(--white);
    --hover: #2a2c2e;
    --sidebar-bg: #3A3B3C;
    --active: #242526;
    --search: #EFEFEF;
    --indigo-600: var(--color-border-primary);

    --white: #FFFFFF;
    --row: #f8f9fd;
    --head: #eaecf8;
    --color-info: #0c4868;
    --color-primary: #0c4868;
    --color-border-primary: #093a54;
}

#sidebar-resizer-handler {
    right: -17px;
}

@media (max-width: 991px) {
    .arrow {
        display: none;
    }
}

@media (min-width: 992px) {
    .resizer-handler {
        width: 18px;
    }

    .resizer-handler:hover {
        background: none;
    }

}