@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner {
    position: relative;
    height: 500px;
    background-color: #2f2f2f50;
}

.text-stroke {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    /*-webkit-text-stroke: 1px #000;*/
}