{% extends 'client/base.html.twig' %}

{% block body %}
    <main class="bg2">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-7">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="col-lg-5 pay-1">
                    <h1 class="text3"></h1>
                    <div class="text1" id="pay1">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}