{% extends 'client/base.html.twig' %}

{% block body %}
    <div class="pt-5">
        <div class="container mt-5 text-white">
            <h1>{{ "Opps! Something went wrong" | trans }}</h1>
            <h5>{{ message | trans }}</h5>
        </div>
    </div>
{% endblock %}

