{% extends 'client/base.html.twig' %}

{% block body %}
    <div class="container bg2">
        <h1 class="text-white">Regulamin serwisu</h1>
        <br>
        <div class="text-white">
            {{ rule | raw }}
        </div>
    </div>
{% endblock %}