{% extends 'client/base.html.twig' %}

{% block body %}
    <div class="bg2 pt-5">
        <div class="mt-5 container">
            <h1 class="text-white">{{  "Rule" | trans }}</h1>
            <br>
            <div class="text-white">
                {{ rule | raw | nl2br }}
            </div>
        </div>
    </div>
{% endblock %}