{% extends 'purple/base.html.twig' %}

{% block body %}
    <section class="other-padding">
        <div class="mx-auto flex flex-center flex-column flex-align">
            <h1>{{ "Hooray! Items was properly executed on the server" | trans }}</h1>
            <h5>{{ "Have fun with new bought pack!" | trans }}</h5>
        </div>
    </section>
{% endblock %}

