{% extends 'client/multi/totalcraft/base.html.twig' %}

{% block body %}
    <div class="container pt-5">
        <div class="row mt-5 pt-5">
            <div class="my-5">
                <h1 class="text-center pb-5 text-pink">REGULAMIN</h1>
                {{ rule |raw }}
            </div>
        </div>
    </div>
{% endblock %}