{% extends 'client/multi/totalcraft/base.html.twig' %}

{% block body %}
    <section class="other-padding">
        <div class="mx-auto flex flex-center flex-column flex-align">
            <h1 class="text-pink">{{ "Hooray! Items was properly executed on the server" | trans }}</h1>
            <h2 class="fs-5">{{ "Have fun with new bought pack!" | trans }}</h2>
        </div>
    </section>
{% endblock %}

