{% extends 'admin/base.html.twig' %}

{% block body %}
<div>
    <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
        <div class="gradient-image"></div>
        <h1>GameSites</h1>
        <br/>
        <h2>Przepraszamy, strona została wyłączona przez wzgląd na brak terminowej płatności.</h2>
        <h2>Jeżeli uważasz, że to błąd skontaktuj się z administratorem serwisu.</h2>
        <br/>
        <h2>The true power of gaming...</h2>
        <br>
        </div>
</div>
{% endblock %}