{% extends 'white/base.html.twig' %}

{% block body %}
    <main class="particle">
        <div class="pt-5">
            <div class="container mt-5 text-dark">
                <h1>{{ "Hooray! Items was properly executed on the server" | trans }}</h1>
                <h5>{{ "Have fun with new bought pack!" | trans }}</h5>
            </div>
        </div>
    </main>
{% endblock %}

