<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-body text-white">
                {{ form_start(paySafeCardForm, {action: path('paySafeCard'), method: "POST"}) }}
                {{ form_end(paySafeCardForm) }}
            </div>
        </div>
    </div>
</div>